$colors: primary secondary;

.feature-cart {
  @each $color in $colors {
    &--#{$color} {
      $bg-color: if($color==primary, color-prmary, color-accent);
      $border-color: if(
        $color==primary,
        color-prmary-dark-2,
        color-accent-dark-2
      );
      $text-color: if(
        $color==primary,
        color-prmary-dark-3,
        color-accent-dark-3
      );
      @include theme-aware-gradient(
        $bg-color,
        $color-white,
        207.21deg,
        0%,
        96.98%
      );
      // background: linear-gradient(207.21deg, $bg-color 0%, $color-white 96.98%);
      @include theme-aware-outline(border, $border-color, 0.2rem, solid);
      width: 25%;
      height: 60rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-radius: $border-raduis-main * 1rem;
      padding: 3.2rem 1.6rem;
      @include responsive(2md) {
        width: 40%;
      }
      &__title,
      &__projects {
        align-self: center;
      }
      &__lists {
        display: grid;
        grid-template-rows: repeat(6, max-content);
        row-gap: 4rem;
        grid-auto-flow: column;
        list-style: none;
        &__list {
          display: flex;
          gap: 1.6rem;
          align-items: center;
          &--text {
            @include theme-aware(color, $text-color);
            font-size: 2rem;
            font-family: branding-bold;
          }
          &--icon {
            @include theme-aware(color, $border-color);
            @include responsive(lg) {
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }
}
