@keyframes go-up-and-down-logos {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(0.4rem);
  }
}
@keyframes hero-background-move {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2rem);
  }
}
@keyframes feature-background-move {
  from {
    transform: translateX(0);
    opacity: 0.2;
  }
  30% {
    opacity: 0.6;
  }
  to {
    transform: translateX(80%);
    opacity: 0.1;
  }
}
