.transform_x_minus {
  &__0 {
    transform: translateX(0%);
  }
  &__1 {
    transform: translateX(-100%);
  }
  &__2 {
    transform: translateX(-200%);
  }
  &__3 {
    transform: translateX(-300%);
  }
}
