/////////////////////////////////
$color-neutral: #939597;
$color-neutral-dark-3: #1d1e1e;
$color-neutral-dark-2: #4a4b4c;
$color-neutral-dark-1: #67686a;
$color-neutral-light-1: #b3b5b6;
$color-neutral-light-2: #c9cacb;
$color-neutral-light-3: #e9eaea;
//////////////////////////////////
$color-white: #fff;
$color-white-2: #f5f5f5;
$color-dark: #0a0a0b;
$color-success: #40c057;
$color-error: #fa5252;
///////////////////////////////////

$color-theme-2: #ff6f61;
$color-theme-3: #6667ab;

//////////////////////////////////
$translate-y-hover: -0.3;
$border-raduis-main: 1.4;
