$color-prmary: #f5df4d;
$color-prmary-dark-3: #312d0f;
$color-prmary-dark-2: #93862e;
$color-prmary-dark-1: #c4b23e;
$color-prmary-light-1: #f7e571;
$color-prmary-light-2: #f9ec94;
$color-prmary-light-3: #fdf9db;
//////////////////////////////////
$color-accent: #64eaf5;
$color-accent-dark-3: #142f31;
$color-accent-dark-2: #3c8c93;
$color-accent-dark-1: #50bbc4;
$color-accent-light-1: #83eef7;
$color-accent-light-2: #a2f2f9;
$color-accent-light-3: #e0fbfd;
/////////////////////////////////
$color-tertiary: #f533a6;
$color-tertiary-dark-3: #310a21;
$color-tertiary-dark-2: #931f64;
$color-tertiary-dark-1: #c42985;
$color-tertiary-light-1: #f75cb8;
$color-tertiary-light-2: #f985ca;
$color-tertiary-light-3: #fdd6ed;
/////////////////////////////////
$color-neutral: #939597;
$color-neutral-dark-3: #1d1e1e;
$color-neutral-dark-2: #4a4b4c;
$color-neutral-dark-1: #67686a;
$color-neutral-light-1: #b3b5b6;
$color-neutral-light-2: #c9cacb;
$color-neutral-light-3: #e9eaea;
//////////////////////////////////
$color-white: #fff;
$color-success: #40c057;
///////////////////////////////////

$color-theme-2: #ff6f61;
$color-theme-3: #6667ab;
