.contact-input {
  display: flex;
  flex-direction: column;
  &:last-child {
    grid-column: 1/-1;
  }
  &__label {
    color: $color-prmary-dark-3;
    font-size: 2.4rem;
    letter-spacing: 5%;
    font-family: branding-black;
  }
  &__input {
    height: 5.6rem;
    border-radius: $border-raduis-main * 1rem;
    border: 0.2rem solid $color-prmary-dark-1;
    padding: 0 0.8rem;
    &:focus {
      outline: 0.1rem solid $color-prmary-dark-1;
    }
    &__text-area {
      position: relative;
      &__input {
        width: 100%;
        height: 32.1rem;
        border-radius: $border-raduis-main * 1rem;
        border: 0.2rem solid $color-prmary-dark-1;
        padding: 0.8rem;
        font-family: branding-med;
        position: relative;
        &:focus {
          outline: 0.1rem solid $color-prmary-dark-1;
        }
      }
      &__count {
        position: absolute;
        opacity: 0.5;
        bottom: 4%;
        right: 2%;
      }
    }
  }
}
