.contact {
  margin-top: 3.2rem;
  &__details {
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
    min-height: 50rem;
    &__loader {
      flex: 0 0 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__svg {
        width: 10rem;
        display: block;
        &--path {
          stroke-dasharray: 1000;
          stroke-dashoffset: 0;
        }
        &--circle {
          -webkit-animation: dash 2s ease-in-out;
          animation: dash 2s ease-in-out;
        }
        &--check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check 2s 0.35s ease-in-out forwards;
          animation: dash-check 2s 0.35s ease-in-out forwards;
        }
        &--line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash 2s 0.35s ease-in-out forwards;
          animation: dash 2s 0.35s ease-in-out forwards;
        }
      }
    }
    &__form {
      flex: 0 0 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(3, max-content);
      gap: 3.2rem;
      &__button {
        grid-row: 3/-1;
        justify-self: start;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        &--disabled {
          cursor: not-allowed;
          background-color: $color-prmary-light-2;
          color: $color-prmary-dark-2;
          & svg {
            fill: $color-prmary-dark-2;
          }
          &:hover {
            transform: translateY(0);
            background-color: $color-prmary-light-2;
          }
        }
      }
    }
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}

@keyframes dash-check {
  0% {
    stroke-dashoffset: -100;
  }
  100% {
    stroke-dashoffset: 900;
  }
}
