@font-face {
  font-family: "eveleth-bold";
  src: url("./../../../fonts/eveleth-bold.otf");
}
@font-face {
  font-family: "branding-black";
  src: url("./../../../fonts/BrandingSF-Black.ttf");
}
@font-face {
  font-family: "branding-bold";
  src: url("./../../../fonts/BrandingSF-Bold.ttf");
}
@font-face {
  font-family: "branding-med";
  src: url("./../../../fonts/BrandingSF-Medium.ttf");
}
@font-face {
  font-family: "icomoon";
  src: url("./../../../fonts/IcoMoon-Ultimate.ttf");
  // src: url("./../../../fonts/icomoon.eot?-rdmvgc");
  // src: url("./../../../fonts/icomoon.eot?#iefix-rdmvgc")
  //     format("embedded-opentype"),
  //   url("./../../../fonts/icomoon.woff?-rdmvgc") format("woff"),
  //   url("./../../../fonts/icomoon.ttf?-rdmvgc") format("truetype"),
  //   url("./../../../fonts/icomoon.svg?-rdmvgc#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 62.5%;
  font-family: branding-med;
}
body {
  font-size: 1.6rem;
}
