$themes: (
  yellow: (
    color-prmary: #f5df4d,
    color-prmary-dark-3: #312d0f,
    color-prmary-dark-2: #93862e,
    color-prmary-dark-1: #c4b23e,
    color-prmary-light-1: #f7e571,
    color-prmary-light-2: #f9ec94,
    color-prmary-light-3: #fdf9db,
    //////////////////////////////////
    color-accent: #64eaf5,
    color-accent-dark-3: #142f31,
    color-accent-dark-2: #3c8c93,
    color-accent-dark-1: #50bbc4,
    color-accent-light-1: #83eef7,
    color-accent-light-2: #a2f2f9,
    color-accent-light-3: #e0fbfd,
    /////////////////////////////////
    color-tertiary: #f533a6,
    color-tertiary-dark-3: #310a21,
    color-tertiary-dark-2: #931f64,
    color-tertiary-dark-1: #c42985,
    color-tertiary-light-1: #f75cb8,
    color-tertiary-light-2: #f985ca,
    color-tertiary-light-3: #fdd6ed,
  ),
  magenta: (
    color-prmary: #ff6f61,
    color-prmary-dark-3: #190b0a,
    color-prmary-dark-2: #662c27,
    color-prmary-dark-1: #b34e44,
    color-prmary-light-1: #ff9a90,
    color-prmary-light-2: #ffc5c0,
    color-prmary-light-3: #fff1ef,
    //////////////////////////////////
    color-accent: #ebff7a,
    color-accent-dark-3: #17190c,
    color-accent-dark-2: #5e6631,
    color-accent-dark-1: #a5b355,
    color-accent-light-1: #f1ffa2,
    color-accent-light-2: #f7ffca,
    color-accent-light-3: #fdfff2,
    /////////////////////////////////
    color-tertiary: #479dff,
    color-tertiary-dark-3: #071019,
    color-tertiary-dark-2: #1c3f66,
    color-tertiary-dark-1: #326eb3,
    color-tertiary-light-1: #7ebaff,
    color-tertiary-light-2: #b5d8ff,
    color-tertiary-light-3: #edf5ff,
  ),
  purple: (
    color-prmary: #6667ab,
    color-prmary-dark-3: #0a0a11,
    color-prmary-dark-2: #292944,
    color-prmary-dark-1: #474878,
    color-prmary-light-1: #9495c4,
    color-prmary-light-2: #c2c2dd,
    color-prmary-light-3: #f0f0f7,
    //////////////////////////////////
    color-accent: #ab8978,
    color-accent-dark-3: #110e0c,
    color-accent-dark-2: #443730,
    color-accent-dark-1: #786054,
    color-accent-light-1: #c4aca1,
    color-accent-light-2: #ddd0c9,
    color-accent-light-3: #f7f3f2,
    /////////////////////////////////
    color-tertiary: #6bab55,
    color-tertiary-dark-3: #0b1108,
    color-tertiary-dark-2: #2b4422,
    color-tertiary-dark-1: #4b783b,
    color-tertiary-light-1: #97c488,
    color-tertiary-light-2: #c4ddbb,
    color-tertiary-light-3: #f0f7ee,
  ),
);
