.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2rem;
  position: relative;
  @include responsive(2md) {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-template-rows: repeat(3, max-content);
    row-gap: 2.4rem;
  }
  &__bg {
    width: 90%;
    height: 100%;
    background: url("./../../../../images/hero-bg.png");
    background-size: cover;
    position: absolute;
    z-index: map-get($z-index, herobackground);
    margin-left: -2rem;
    transform: rotate(15deg);
    opacity: 0.6;
    animation: hero-background-move 5s infinite linear alternate-reverse;
  }
}
