.footer-buttom {
  grid-column: 1/-1;
  justify-self: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-dark;
  padding: 1.6rem;
  &__copyright {
    color: $color-neutral-light-3;
    font-size: 1.2rem;
    letter-spacing: 5%;
    &--link {
      font-family: branding-black;
      text-decoration: none;
      color: $color-neutral-light-3;
      transition: all 0.5s;
      display: inline-block;
      &:hover {
        transform: translateY($translate-y-hover * 1rem);
      }
    }
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
    &__item {
      &__link {
        &--icon {
          fill: #fff;
        }
      }
    }
  }
}
