.footer {
  margin-top: 3.2rem;
  background-color: $color-neutral-dark-3;
  display: grid;
  grid-template-columns: 1fr max-content 1fr max-content 1fr;
  align-items: center;
  justify-items: center;
  position: relative;
  @include responsive(sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 1fr max-content 1fr;
  }
}
