.projects {
  margin-top: 3.2rem;

  background: linear-gradient(
      rgba($color-prmary-light-3, 0.97),
      rgba($color-prmary-light-3, 0.97)
    ),
    url("./../../../../images/projects/project-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 1fr max-content;
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
  overflow: hidden;
  &__link {
    justify-self: end;
    margin-bottom: 1.6rem;
  }
  &__info {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: 3.2rem;
  }
}
