.link-button {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: all 0.5s;
  &-secondary {
    color: $color-accent-dark-2;
  }
  &::after {
    content: "";
    width: 100%;
    height: 0.2rem;
    background-color: currentColor;
    position: absolute;
    bottom: -0.4rem;
  }
  &:hover {
    transform: translateY($translate-y-hover * 1rem);
  }
}
