.main-heading {
  font-size: 3.2rem;
  font-family: branding-black;
  display: inline-block;
  &--color-primary {
    @include theme-aware(color, color-prmary-dark-3);
    &-light {
      @include theme-aware(color, color-prmary-dark-2);
    }
  }
  &--color-secondary {
    @include theme-aware(color, color-accent-dark-3);
    &-light {
      @include theme-aware(color, color-accent-dark-2);
    }
  }
}
