.second-heading {
  font-size: 1.6rem;
  color: $color-accent-dark-2;
  display: inline-block;
  border-bottom: 0.2rem solid $color-accent-dark-2;
  padding-bottom: 0.4rem;
  text-transform: capitalize;
  font-family: branding-black;
}
