.tertiary-heading {
  font-family: branding-black;
  @include theme-aware(color, color-tertiary-dark-2);
  display: flex;
  align-items: center;
  gap: 0.4rem;
  &__title {
    height: 0.2rem;
    line-height: 0;
    text-transform: uppercase;
  }
  &__line {
    width: 3.2rem;
    height: 0.2rem;
    @include theme-aware(background-color, color-tertiary-dark-2);
  }
}
